@(roles:Iterable[models.Role],currentUser:models.User)(implicit flash:play.mvc.Scope.Flash, session:play.mvc.Scope.Session)

@main("Roles"){
    @if(session.contains("user_id") && currentUser.isInRole("sysadmin")) {
        <a href="@action(controllers.Role.form)" class="button">New</a></p>
    }
    <h2>User roles</h2>
    @roles.map{ role =>
       <div class="">
          <p>@role.getName</p>
          <p><a class="button" href="@action(controllers.Role.show(role.getIdString))">View</a></p>
       </div>
    }
}