@(users:Iterable[models.User],currentUser: models.User)(implicit flash:play.mvc.Scope.Flash, session:play.mvc.Scope.Session)

@if(flash.get("error")) {
	<p style="color:#c00">
		@flash.get("error")
	</p>
}
@main(title = "Resources") {
    <ul>
    @users.map { user =>
        <li>@user.getUsername
        @if(session.contains("user_id") && currentUser.isInRole("sysadmin")) {
            - <a href="@action(controllers.User.show(user.getIdString))" class="button">View</a> -
            <a href="@action(controllers.User.edit(user.getIdString))" class="button">Edit</a> -
            <a href="@action(controllers.User.destroy(user.getIdString))" class="button">Delete</a>
        }
        </li>
    }
    </ul>
}