@(user:models.User, currentUser: models.User)(implicit flash:play.mvc.Scope.Flash, session:play.mvc.Scope.Session)
@main(title = "Update My Account"){
    <div class="box450">
        <fieldset>
            <legend>User Info</legend>
            <label>Username: @user.getUsername</label>
            <label>First Name: @user.getFirstName</label>
            <label>Last Name: @user.getLastName</label>
            <a href="@action(controllers.User.edit(user.getIdString))" class="button">Edit</a>
            <legend>User Roles</legend>
            @user.getUserRoles.map { role => <label>@role.get.getName</label> }
            <a href="@action(controllers.User.edit(user.getIdString))" class="button">Edit</a>
        </fieldset>
</div>
}