@()(implicit flash:play.mvc.Scope.Flash)
@main(title = "Test Image Uploader") {
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="box450">
        <fieldset>
            <legend>Please Upload File</legend>
            @showflash()
            <label>Image File:</label><input type="file" name="image" id="image"/>
            <label>Name</label><input type="text" name="name" />
            <input type="submit" value="Send" class="button175">
        </fieldset>
    </div>
</form>
}
