@(setting: models.ApplicationSetting )(implicit flash:play.mvc.Scope.Flash)
@main(title = "Setting - New") {
<form action="@action(controllers.ApplicationSetting.index)" method="GET">
    <div class="box450">
        <fieldset>
            <legend>Please Update Setting</legend>
            <label>Key</label><label>@setting.key.get</label>
            <label>Value</label><label>@setting.value.get</label>
            <input type="submit" value="All Settings" class="button175">
        </fieldset>
    </div>
</form>
}
